name: Actions Workflow

on:
  repository_dispatch:
    types: [build]
#  schedule:
#    - cron: "*/5 * * * *"
#    - cron: "*/6 * * * *"
  pull_request:
    types: [opened]


jobs:
  run-github-actions:
    runs-on: ubuntu-latest
    steps:
      - name: List Files
        run: |
          pwd
          ls -a
          echo $GITHUB_SHA
          echo $GITHUB_REPOSITORY
          echo $GITHUB_WORKSPACE
          echo "${{ github.token }}"
          echo "${{ github.event.client_payload.env }}"
          echo "${{ github.event.client_payload.name }}"
          echo "${{ github.event.client_payload.surname }}"
#          git clone git@github:$GITHUB_REPOSITORY
#          git checkout $GITHUB_SHA
      - name: Checkout
        uses: actions/checkout@v1
      - name: List Files After Checkout
        run: ls -a
